<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="light" lang="en"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav th:replace="~{fragments/nav_left}"> </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <nav th:replace="~{fragments/nav_top}"></nav>

                <!--<div class="container-fluid">-->
                <!--    <h3 class="text-dark mb-1">Blank Page</h3>-->
                <!--</div>-->

                <div class="container" layout:fragment="content">
                    <section>
                        <div class="container">
                            <div class="row">
                                <div th:each="book : ${books}" class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
                                    style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">

                                    <div class="bg-light border rounded shadow card"><img class="card-img-top"
                                            th:src="@{'/images/' + ${book.imageUrl}}" />
                                        <div class="card-body">
                                            <a th:href="@{/book/{isbn}(isbn=${book.ISBN})}">
                                                <h3 class="card-title" th:text="${book.title}"
                                                    style="font-family: Antic, sans-serif;color: rgb(81,87,94);">Lorem
                                                    Ipsum
                                                </h3>
                                            </a>
                                            <!--<h5 class="card-sub-title" th:if="${book.subjects.length > 1}"-->
                                            <!--    style="font-family: Antic, sans-serif;color: #38ae53;">-->
                                            <!--    <p th:each="subject : ${book.subjects}">-->
                                            <!--        <button class="btn" type="button"-->
                                            <!--            style="font-weight: normal; font-family: Antic, sans-serif;">-->
                                            <!--            <span class="badge bg-success" th:text="${subject.name}"></span>-->
                                            <!--            <i class="icon-social-linkedin"></i>-->
                                            <!--        </button>-->
                                            <!--    </p>-->
                                            <!--</h5>-->
                                            <p class="card-text"
                                                style="font-family: Antic, sans-serif;color: rgb(81,87,94);"></p>
                                            <p id="lorem" th:text="${#strings.abbreviate(book.description, 150)}"></p>

                                            <!--<td><p th:text="${#strings.abbreviate(blog.text,150)} "></p></td>-->


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2024</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
