<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{index}" lang="en">

<head>
    <title>Registration admin</title>
</head>

<body>
    <div layout:fragment="content">

        <form method="POST" th:object="${account}" th:action="@{/admin/registration}" class="user col-md-6">
           <div class="row mb-3">
               <!--<div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="First Name" name="first_name"></div>-->
               <div class="col-sm-6">
                   <input class="form-control form-control-user" type="text" th:field="*{username}"
                       id="username" placeholder="Username" name="username">
               </div>
           </div>
           <!--<div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email"></div>-->
           <div class="row mb-3">
               <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user"
                                                         type="password" id="examplePasswordInput" placeholder="Password" th:field="*{password}"
                       name="password"></div>
               <div class="col-sm-6"><input class="form-control form-control-user" type="password"
                       id="exampleRepeatPasswordInput" placeholder="Repeat Password"
                       name="password_repeat"></div>
           </div>

           <div class="mb-3">
               <label for="roles" class="form-label">ROLES:</label>
                <select name="roles" th:field="*{roles}" class="form-select" id="roles" multiple>
                    <option th:each="role : ${roles}" th:text="${role}" th:value="${role}"></option>
               </select>
               <p>Please careful to pick the permissions. ADMIN has the most power, the second is LIBRARIAN and the third is MEMBER</p>
           </div>
           <button class="btn btn-primary d-block btn-user w-100" type="submit">Register
               Account</button>
           <hr>
       </form>
        <div th:text="${message}"></div>
    </div>
</body>

</html>
