<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{index}" lang="en">

<head>
    <title>Update</title>
</head>

<body>
    <div layout:fragment="content" class="container mt-5 col-8">
        <h2 class="mb-4l">Update Book</h2>

        <form th:object="${book}" th:action="@{/update-book}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="isbn" class="form-label">ISBN:</label>
                <input type="text" id="isbn" th:field="*{ISBN}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" id="title" th:field="*{title}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="language" class="form-label">Language:</label>
                <input type="text" id="language" th:field="*{language}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="publisher" class="form-label">Publisher:</label>
                <input type="text" id="publisher" th:field="*{publisher}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="numberOfPage" class="form-label">Number of Pages:</label>
                <input type="number" id="numberOfPage" th:field="*{numberOfPage}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image:</label>
                <input type="text" id="image-text" th:field="*{imageUrl}" class="form-control" readonly>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image:</label>
                <p class="alert alert-warning">Leave it if you do not want to change the image</p>
                <input type="file" id="image" th:field="*{image}" class="form-control">
            </div>


            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea id="description" th:field="*{description}" class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Subjects:</label>
                <select class="form-select" id="category" th:field="*{subjects}" multiple>
                    <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Update Book</button>
        </form>
    </div>
</body>

</html>
